### Análise Exploratória de Dados

#### Introdução

Foi analisado um conjunto de dados de produtos e vendas, disponíveis no seguinte [link](https://data.world/jerrys/sql-12-applying-functions-in-sql)

#### Experimento

- Pergunta: O número de vendas no Brasil é maior do 60% do total de vendas.
- Metodologia: Foram observadas apenas as vendas concluídas (Courier Status != Cancelled).

### Conclusões
- No Brasil, as vendas representam 11,05% das vendas totais e é o último país em número de vendas.
- Tomada de decisão: Aumentar as promoções para o Brasil e analisar as vendas novamente.

----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------

In [1]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [2]:
# string de conexão com o banco de dados ecommerce
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ecommerce')

In [3]:
# select amostra da tabela produtos
paises = pd.read_sql("SELECT * FROM vendas_por_pais;", engine); paises.head(10)

  pais  vendas_por_pais
0   US          38750.0
1   UK          38730.0
2   PT          38675.0
3   JP          38832.0
4   GE          38491.0
5   FR          38677.0
6   DK          38695.0
7   BR          38471.0
8   AU          38700.0

In [4]:
paises["percentual_de_vendas"] = 100.0 * paises["vendas_por_pais"] / paises["vendas_por_pais"].sum()

In [7]:
paises.round(2).sort_values(by='percentual_de_vendas', ascending=False)

  pais  vendas_por_pais  percentual_de_vendas
3   JP          38832.0                 11.16
0   US          38750.0                 11.13
1   UK          38730.0                 11.13
6   DK          38695.0                 11.12
8   AU          38700.0                 11.12
2   PT          38675.0                 11.11
5   FR          38677.0                 11.11
4   GE          38491.0                 11.06
7   BR          38471.0                 11.05

In [ ]:
## gráfico...